body {
  margin: 20px;
  /* text-align: center; */
  background-color: rgb(94, 94, 94);
}

h1 {
  margin: 10px;
}

hr {
  margin: 10px;
}

ul {
  list-style-type: none;
}

/* .container {
  display: flex;
  flex-direction: row;
} */

ul > li {
  margin: 6px;
}

button {
  margin-left: 20px;
  background-color: black;
  color: azure;
  border-radius: 7%;
  border-color: black;
  border-width: 3px;
}

img {
  margin-bottom: 20px;
  border-radius: 50%;
}

/* .thumbnail {
  max-height: 60px;
  border-radius: 50%;
  margin-bottom: 20px;
  border-color: black;
} */

.profilePic {
  margin-top: 10px;
}
